<%- include('../partialsSlides/newSlide') %>

    <!-- SCRIPTS -->
    <script src="/js/jquery2.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/bootstrap.min2.js"></script>
    <script src="/assets/js/app.js"></script>
    </body>

    </html>