<div class="container">
    <nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i id="barBtn" class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a type="button" data-toggle="modal" class="nav-link" href="#slide">New Slide</a>
                </li>
            </ul>
        </div>
    </nav>
</div>